# Python
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Environment
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Django
db.sqlite3
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media uploads
backend/media/
backend/logs/

