body{
    margin:0;
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:white;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.logo{
    color:#2563eb;
}

.nav-links{
    display:flex;
    gap:25px;
    align-items:center;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:600;
}

.logout-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.dashboard{
    padding:40px;
}

.dashboard h1{
    margin-bottom:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card h2{
    margin-bottom:15px;
}

.card p{
    color:#666;
}